
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

body{
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.container80{
    width: 80%;
    margin: auto;
}

ul{
    list-style-type: none;
}

.container80 .fix-nav-left,.fix-nav-right{
    display: inline-block;
}

.two-col{
    width: 48%;
}

.orange-button{
    padding: 15px 35px;
    border-radius: 5px;
    background-color: #fe775a;
    color: white;
    font-size: 12px;
}

.inline{
    display: inline-block;
    line-height: 50px;
    margin-right: 10px;
}

.inline-block{
    display: inline-block;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #334a5b;
    font-size: 12px;
}

.graytext{
    color: #334a5b;
}

.check{
    color: #33475b;
    font-weight: 600;
    font-size: 14px;
    line-height: 0;
    text-align: left;
}

.check-ul{
    margin-bottom: 20%;
}

.pop-feat{
    font-size: 14px;
    padding: 7%;
}

p{
    color: #33475b;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
}
.container50{
    width: 50%;
    margin: auto;
    text-align: center;
}

h2,h3,h4{
    color: #33475b;
    margin: 3% 0;
}

.img-svg{
    margin-bottom: 3%;
}

.fa-check-circle{
    color: #fe775a;
    padding-right: 12px;
}
.col-img{
    width: 100px;
    height: 100px;

}

.col-p{
    padding-bottom: 20%;
}

.col-line{
    width: 90%;
    border: 1px solid #899397;
}

.col-support{
    margin-top: 3%;
    border: 1px solid white;
    padding: 3%;
    float: left;
    width: 25%;
    text-align: center;
}

.bottom{
    border-bottom: none;
}

.square{
    height: 200px;
    width: 260px;
    margin: auto;
    border-top: none;
    border-right: none;
}

.left-supp{
    border-left: none;
}

.prominence{
    font-size: 32px;
    font-weight: 800;
    color: white;
    padding: 5%;
}
.black-prominence{
    font-size: 32px;
    font-weight: 800;
    color: #334a5b;
    padding: 10%;
    padding-left: 0;
    padding-top: 0;
}

.container75{
    width: 75%;
    margin: auto;
    padding-top: 5%;
}
.float{
    float: left;
}

.footer-a{
    color: white;
    font-size: 12px;
}

/* End common */


/* HEADER */

.fixed-nav{
    height: 50px;
    background-color: #f4f9fd;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid black;
}

/* left column fixed nav */

.divider{
    padding-right: 17px;
    height: 20px;
    border-right: 1px solid gray;
}

/* right column fixed nav */

.fix-nav-right{
    text-align: right;
}

.fa-search {
    color: #03a6be;
}

.fa-chevron-down{
    margin-left: 5px;
}

.fa-globe-europe{
    margin-right: 5px;
}

.login{
    padding: 8px;
    background-color: white;
    border: 1px solid #fe775a;
    border-radius: 5px;
    color: #fe775a;
    font-size: 12px;
}

.free{
    padding: 8px;
}

.logo{
    height: 50px;
    padding: 12px;
    padding-left: 0;
}

/* unfixed Nav */
.nav{
    height: 100px;
    padding-top: 50px;
}

/*Nav right column*/
.nav-right{
    text-align: right;

}

.fa-nav{
    margin-left: 8px;
}

/* Nav left column */
.nav-left{
    height: 50px;
    vertical-align: middle;
}

/*banner*/

.banner{
    height: 550px;
    background-color: #fff4ef;
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 100% 193%
}
/*content*/
.content-banner{
    width: 55%;
    padding-top: 5%;
}
/*title*/
h1{
    font-size: 47px;
    color: #33475b;
}

.p-banner{
    font-size: 16px;
    margin-top: 4%;
    font-weight: 700;
}
/*button*/
.button-pos{
    margin: 8% 0;
}

.big-button{
    padding: 20px 35px;
}
/*divider*/
.green{
    height: 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #afebe4;
}
/* END HEADER */

/* MAIN */

/* Advantages section */
.advantages{
    padding-bottom: 5%;
    background-color: #f4f9fd;
    
}

.cubo{
    height: 170px;
    margin-top: 7%;
}

.crm{
    height: 100px;
}

.centered{
    width: 90%;
    margin: auto;
}

.features{
    margin-top: 5%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e6ecf1;
    padding: 5%;
}

.crm-right{
    margin-top: -10px;
    padding-left: 100px;
    width: 75%;
    vertical-align: top;
    line-height: 10px;
}

.h3{
    padding-bottom: 25px;
    font-size: 21px;
}
.line{
    border: 1px solid #899397;
    width: 60%;
    margin-left: 35px;
    vertical-align: middle;
}

.crm-ul li{
    padding-left: 3%;
}

.col{
    margin-top: 3%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e6ecf1;
    padding: 3%;
    float: left;
    width: 29%;
    text-align: center;
}

.col-center{
    margin-left: 6.5%;
    margin-right: 6.5%;
}
/*End Advantages section */

/* Learn And Grow section */

.learn-and-grow{
    background: linear-gradient(#00a4bd, #00bda5 );
    margin: 3px;
    padding-bottom: 8%;
}
.learn-and-grow h2{
    color: white;
    text-align: center;
}
.learn-and-grow p{
    color: white;
    text-align: center;
}


.learn-and-grow h2{
    font-size: 26px;
    padding-top: 5%;
}

.supporter{
    padding-top: 3%;
}
.col-support img{
    height: 35px;
}
.col-support p{
    font-size: 10px;
}
/*End Learn And Grow section */

/*Partner section*/
.partner{
    height: 550px;
}

.left{
    width: 20%;
    display: inline-block;
    float: left;
}
.right{
    width: 74%;
    display: inline-block;
    text-align: right;
}
.logos{
    float: right;
}
.logos img{
    width: 100px;
}
.logos li{
    padding: 10px;
}

.grow-left{
    width: 40%;
    display: inline-block;
    float: left;
    padding-top: 5%;
    
}
.grow-left h2,.grow-left P{
    padding-bottom: 8%;
    display: block;
}
.grow-button{
    margin-bottom: 8%;
}
.get-started{
    font-size: 10px;
}
.grow-right img{
    width: 280px;
    float: right;
    padding-top: 3%;
}

/*End Partner section*/

/* END MAIN */

/*FOOTER*/
footer{
    margin-top: 10%;
    background-color: #32495b;
}
.footer-col{
    width: 24%;
}
.footer-col p{
    color: #dadee0;
    font-weight: 800;
}
.footer-col ul{
    padding-top: 5%;
}
.footer-col ul li{
    padding: 2%;
}
footer .orange-button{
    color: #32495b;
    background-color: #dadee0;
    margin: 5% 0;
}
footer a{
    color: #dadee0;
}
footer .fab{
    color: #dadee0;
    margin-right: 12%;
}
.footer-cont{
    padding-bottom: 10%;
}
.language{
    text-align: center;
    margin: auto;
}

.language li{
    padding-right: 2%;
    padding-bottom: 3%;
}
.container90{
    width: 90%;
}
.footer-line{
    padding-bottom: 3%;
    border-top: 1px solid #dadee0;
    margin: auto;
}

.footer-end-left{
    float: left;
}
.footer-end-right{
    float: right;
    width: 20%;
    text-align: right;
}
.footer-end-right li{
    padding-left: 5%;
}
.copyright{
    color: #dadee0;
    font-size: 10px;
    padding-bottom: 10%;
}
/*END FOOTER*/